<div class="container">
    <div class="container">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Título</th>
                <th>Texto</th>
                <th>Total comentarios</th>
            </tr>
        </thead>
        <tbody>
            <% @postordenados.each do |post| %>
            <tr>
                <td><%= post["name"] %></td>
                <td><%= post["title"] %></td>
                <td><%= post["body"] %></td>
                <td><%= post["total"] %></td> <!--se añade indicador para saber cuantos comentarios tiene en cantidad 
                                                    y aprvechar de mejor manera el filtro que viene en datatable-->
            </tr>
            <% end %>
        </tbody>
    </table>

<script type="text/javascript">
    $('#myTable').DataTable({
    "lengthMenu": [10, 25, 50]}); //se puede setear a los n elementos que quieras
</script>